.fa{
    margin: 20px 0px;
}

.freccia{
    text-align: center;
}
.pulsante1{
    text-align: center;
    margin-top: 20px;
}
.verde{
    color: #228b22;
}
.tabella{
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
    text-align: center;
}

.scrollLaterale{
    display: none;
}

@media all and (max-width: 500px){
    .scrollLaterale{
        display: contents;
    }
}