<div class="container">

    <div class="titolo" style="text-align: center;margin-top: 30px; font-size: 30px;">
        <p><strong>Riepilogo degli interventi e calcolo dei costi</strong></p>
    </div>

    <div class="overflow-auto" *ngFor="let elemento of interventi; index as j">
        <div class="tabella">
            <table class="table table-bordered" style="display: contents;">
                <caption></caption>
                <tr>
                    <thead style="background:#ce5e59; color: white;">
                        <th scope="colgroup">Intervento:</th>
                        <th scope="colgroup">Tipo di superficie:</th>
                        <th scope="colgroup">Prezzo unità/quantità:</th>
                        <th scope="colgroup">Dimensione:</th>
                        <th scope="colgroup">Costo parziale:</th>
                        <th scope="colgroup">Attrezzature aggiuntive:</th>
                    </thead>
                    <tbody>
                        <td style="vertical-align: middle;">
                            {{elemento.intervento.codice}}
                        </td>
                        
                        <td style="vertical-align: middle;">
                            <select [(ngModel)]="tipo_superficie">
                                <option selected disabled [value]="0">Seleziona</option>
                                <option [value]="1">Superfici a vista</option>
                                <option *ngFor="let elemento of interventi;" [attr.disabled]="elemento.prezzoSupInt === 0 ? 'disabled' : null" [value]="2">Superficie intonacata</option>
                                <option *ngFor="let elemento of interventi;" [attr.disabled]="elemento.prezzoEntrInt === 0 ? 'disabled' : null" [value]="3">Entrambe le superfici intonacate</option>
                              </select>
                        </td>

                        <td style="vertical-align: middle;" *ngIf="tipo_superficie == 0">Seleziona</td>
                        <td style="vertical-align: middle;" *ngIf="tipo_superficie == 1">{{elemento.prezzo}}€/{{elemento.unitaMisura}}</td>
                        <td style="vertical-align: middle;" *ngIf="tipo_superficie == 2">{{elemento.prezzoSupInt}}€/{{elemento.unitaMisura}}</td>
                        <td style="vertical-align: middle;" *ngIf="tipo_superficie == 3">{{elemento.prezzoEntrInt}}€/{{elemento.unitaMisura}}</td>
                        <td style="vertical-align: middle;">
                            <input type="number" [value]="elemento.valoreCifra"
                                (input)="elemento.valoreCifra = $event.target.value" style="margin-left: 20px;">
                                {{elemento.unitaMisura}}
                        </td>
                        <td style="vertical-align: middle;" *ngIf="tipo_superficie == 0">Seleziona</td>
                        <td style="vertical-align: middle;" *ngIf="tipo_superficie == 1">{{elemento.prezzo * elemento.valoreCifra | number: '1.0-2'}}€</td>
                        <td style="vertical-align: middle;" *ngIf="tipo_superficie == 2">{{elemento.prezzoSupInt * elemento.valoreCifra | number: '1.0-2'}}€</td>
                        <td style="vertical-align: middle;" *ngIf="tipo_superficie == 3">{{elemento.prezzoEntrInt * elemento.valoreCifra | number: '1.0-2'}}€</td>
                        
                        <td>Codice {{elemento.intervento.attrezzatura}}:<br>
                            {{elemento.intervento.descrizioneAttrezzatura}}</td>
                    </tbody>
                </tr>
            </table>
        </div>
        <p style="text-align: center; font-size: 15px;">{{elemento.intervento.dettaglio}}</p>
    </div>

    <div class="pulsante1">
        <div class="scrollLaterale">
            Fai uno scroll laterale per inserire i metri quadri
        </div>
        <button class="btn btn-outline-default" style="align-content: center;" (click)="calcolaInvestimentoTotale()">
            Calcola il costo totale di investimento
        </button>

    </div>

    <hr>
    <table class="table table-bordered" style="margin-top: 30px;">
        <caption></caption>
        <tbody>
            <tr>
                <td>
                    Costo di investimento totale:
                </td>
                <td  style="background-color: #fad677;">
                    {{totale | number: '1.0-2'}}€
                </td>
            </tr>
            <tr>
                <td>
                    Incidenza del pacchetto di interventi sul punteggio di vulnerabilità:
                </td>
                <td>
                    {{sommaPacchettoInterventi}}
                </td>
            </tr>
            <tr>
                <td>
                    Cu(S) Indice di costo per decremento unitario percentuale di vulnerabilità:
                </td>
                <td>
                    {{risultatoDivisione | number: '1.0-2'}}
                </td>
            </tr>
        </tbody>
    </table>


    <hr>


    <table class="table table-bordered" style="margin-top: 30px;">
        <caption></caption>
        <thead style="background-color: #ce5e59; color: white;">
            <th scope="colgroup" colspan="2" style="text-align: center;">IPOTESI DI DANNO E PREVISIONE DEI COSTI DI RIPARAZIONE</th>
        </thead>
        <tbody>
            <tr>
                <td>
                    Superficie totale:
                </td>
                <td>
                    <input type="number" [value]="numeroUtente" (input)="numeroUtente = $event.target.value">
                    mq
                </td>
            </tr>
            <tr>
                <td>
                    Livello di danno ipotizzato:
                </td>
                <td>
                    <select>
                        <option selected disabled>
                            Seleziona:
                        </option>
                        <option [value]="danno.id" *ngFor="let danno of dannoIpotizzato; index as j">
                            {{danno.valore}} {{danno.costo}}€/mq
                        </option>
                    </select>
                    <button style="margin-left: 5px;"class="btn btn-outline-default" (click)="onChangeDannoIpotizzato($event.target.value)">
                        Calcola
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    Costo di riparazione:
                </td>
                <td style="background-color: #fad677;">
                    {{costoRiparazione | number: '1.0-2'}}€
                </td>
            </tr>
        </tbody>
    </table>
</div>