.fa{
    margin: 20px 0px;
}
.pulsante1{
    text-align: center;
    margin-top: 10px;
}
.tabella{
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
    text-align: center;
}

.btn-outline-default, .btn-outline-default:active, .btn-outline-default:visited {
    background-color: white !important;
    color: #ce5e59;
    border-color: #ce5e59;
  }
  
  .btn-outline-default:hover {
    background-color: #ce5e59 !important;
    color: white;
  }