<div class="titolo" style="text-align: center; margin-top: 30px; font-size: 30px;">
  <p><strong>Valutazione multicriterio delle alternative di intervento</strong>
</div>

<div class="card my-5">
  <div class="card-body">

    <div class=row>
      <div class="col-sm">
        <summary><strong>Legenda scelta interventi</strong></summary>
        <div class='my-legend'>
          <div class='legend-scale'>
            <ul class='legend-labels'>
              <li><span style='background:#d62828;'></span>Intervento meno conveniente</li>
              <li><span style='background:#228b22;'></span>Intervento più conveniente</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <summary><strong>Legenda compatibilità visiva*</strong></summary>
        <div class='my-legend-CV' *ngFor="let interventi of variabileIntervento;">
          <div class='legend-scale'>
            <ul class='legend-labels' *ngIf="interventi.intervento.codice == 'B3' ||
             interventi.intervento.codice == 'B8'">
              <li>a. Tutte le superfici intonacate</li>
              <li>b. Esterno a vista, interno intonacato</li>
              <li>c. Interno a vista, esterno intonacato</li>
            </ul>
            <ul class='legend-labels' *ngIf="interventi.intervento.codice == 'D1' ||
             interventi.intervento.codice == 'D3' ||
             interventi.intervento.codice == 'D4' ||
             interventi.intervento.codice == 'A2' ||
             interventi.intervento.codice == 'A5'">
              <li>a. Intradosso a vista</li>
              <li>b. Intradosso non a vista</li>
            </ul>
            <ul class='legend-labels' *ngIf="interventi.intervento.codice == 'C1' ||
             interventi.intervento.codice == 'C7' ||
             interventi.intervento.codice == 'C8'">
              <li>a. Seleziona la Compatibilità visiva</li>
            </ul>
          </div>
        </div>
        <p style="font-size: 10px;"><strong>* quando il valore della compatibilità è zero non può essere
            selezionato</strong></p>
      </div>
      <div class="col-sm"></div>
    </div>


    <hr>

    <div class="overflow-auto">
      <table class="table table-hover table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th class="text-center" rowspan="2" colspan="1">Codice</th>
            <th class="text-center" rowspan="2" scope="colgroup">Modicità di costo</th>
            <th class="text-center" rowspan="2" scope="colgroup">Efficacia</th>
            <th class="text-center" rowspan="2" scope="colgroup">Compatibilità visiva</th>
            <th class="text-center" rowspan="2" scope="colgroup">Reversibilità</th>
            <th class="text-center" rowspan="2" scope="colgroup">Semplicità di cantiere</th>
            <th class="text-center" rowspan="2" scope="colgroup">Esiguità di ingombro</th>
            <th class="text-center" rowspan="2" scope="colgroup">Totale</th>
            <th class="text-center" rowspan="2" scope="colgroup">Intervento selezionato</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let interventi of variabileIntervento; index as i">
            <tr *ngFor="let variante of interventi.varianti; index as j">
              <td>{{interventi.intervento.codice}}</td>
              <td>{{interventi.modicitaDiCosto[j]}}</td>
              <td>{{interventi.efficacia[j]}}</td>
              <td><select [(ngModel)]="tipo_superficie" (change)="calcolaTotale()">
                  <option selected disabled [value]="0">Seleziona</option>
                  <option [value]="1" [attr.disabled]="interventi.supIntonacate[j] === 0 ? 'disabled' : null">a.
                    {{interventi.supIntonacate[j]}}</option>

                  <option *ngIf="interventi.intervento.codice == 'B1' ||
                interventi.intervento.codice == 'B2' ||
                 interventi.intervento.codice == 'B3' ||
                 interventi.intervento.codice == 'B4' ||
                 interventi.intervento.codice == 'B5' ||
                 interventi.intervento.codice == 'B6' ||
                 interventi.intervento.codice == 'B7' ||
                 interventi.intervento.codice == 'B8' ||
                 interventi.intervento.codice == 'B9' ||
                 interventi.intervento.codice == 'B10' ||
                 interventi.intervento.codice == 'B11' ||
                 interventi.intervento.codice == 'B12' ||
                 interventi.intervento.codice == 'B13' ||
                 interventi.intervento.codice == 'B14' ||
                 interventi.intervento.codice == 'D1' ||
                 interventi.intervento.codice == 'D2' ||
                 interventi.intervento.codice == 'D3' ||
                 interventi.intervento.codice == 'D4' ||
                 interventi.intervento.codice == 'A1' ||
                 interventi.intervento.codice == 'A2' ||
                 interventi.intervento.codice == 'A3' ||
                 interventi.intervento.codice == 'A4' ||
                 interventi.intervento.codice == 'A5' ||
                 interventi.intervento.codice == 'A6' ||
                 interventi.intervento.codice == 'A7' ||
                 interventi.intervento.codice == 'A8'" [value]="2"
                    [attr.disabled]="interventi.supEvIi[j] === 0 ? 'disabled' : null">b. {{interventi.supEvIi[j]}}
                  </option>

                  <option *ngIf="interventi.intervento.codice == 'B1' ||
                 interventi.intervento.codice == 'B2' ||
                 interventi.intervento.codice == 'B3' ||
                 interventi.intervento.codice == 'B4' ||
                 interventi.intervento.codice == 'B5' ||
                 interventi.intervento.codice == 'B6' ||
                 interventi.intervento.codice == 'B7' ||
                 interventi.intervento.codice == 'B8' ||
                 interventi.intervento.codice == 'B9' ||
                 interventi.intervento.codice == 'B10' ||
                 interventi.intervento.codice == 'B11' ||
                 interventi.intervento.codice == 'B12' ||
                 interventi.intervento.codice == 'B13' ||
                 interventi.intervento.codice == 'B14'" [value]="3"
                    [attr.disabled]="interventi.supIvEi[j] === 0 ? 'disabled' : null">c. {{interventi.supIvEi[j]}}
                  </option>
                </select></td>
              <td>{{interventi.reversibilita[j]}}</td>
              <td>{{interventi.semplicitaDiCantiere[j]}}</td>
              <td>{{interventi.esiguitaDiIngombro[j]}}</td>
              <td [ngStyle]="{'background-color':interventi.maxVariante === j ? '#228b22' : interventi.minVariante === j ? '#d62828' : 'white' }">
                {{interventi.totale[j] | number: '1.2-2'}}</td>
              <td>ok</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>