<main role="main">

  <div class="container" style="margin-top:60px">
    <div class="card my-5">
      <div class="card-body">

        <!-- SCRITTA -->
        <h1 style="font-size: 30px;">
        Benvenuto. Selezione parte strutturale o energetica.
        </h1>

        <label></label>

        <!-- PULSANTI -->
        <div class="row">

          <!-- PARTE STRUTTURALE -->
          <div class="col-lg-4">
            <div class="text-center">
              <a class="btn btn-primary" routerLink="/tipo-edificio-st" routerLinkActive="active" role="button">Parte strutturale
                  &raquo;</a>
            </div>
          </div>

          <div class="col-lg-4"></div>

          <!-- PARTE ENERGETICA -->
          <div class="col-lg-4">
            <div class="text-center">
              <a class="btn btn-primary" routerLink="/performance-energetica-ce" routerLinkActive="active" role="button">Parte energetica
                  &raquo;</a>
              </div>
          </div>

        </div>
        

      </div>
    </div>
  </div>
  
</main>