/* Padding below the footer and lighter body text */

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
  }
  
  
  /* PERSONALIZZAZIONE DEL CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 20rem;
    background-color: #777;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 20rem;
  }

  h1{
    font-size: larger;
    text-align: center;
  }

/* CONTAINER SCELTA CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.scelta .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .scelta h2 {
    font-weight: 400;
  }
  .scelta .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }  

  .carousel-item[_ngcontent-wpj-c18] > img[_ngcontent-wpj-c18] {
    position: absolute;
    top: 0;
    left: 0;
    height: 20rem;
  }

  img {
    vertical-align: middle;
    border-style: none;
    margin-top: 100px;
}

  @media all and (max-width: 500px){

  .carousel-item[_ngcontent-wpj-c18] > img[_ngcontent-wpj-c18] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 100%;
    height: 20rem;
  }

  img {
    vertical-align: middle;
    border-style: none;
    margin-top: 5px;
}

h1{
  font-size: larger;
  text-align: center;
}

}