<main role="main">

  <div class="container" style="margin-top:60px">
    <div class="card my-5">
      <div class="card-body">

        <!-- SCRITTA -->
        <h1 style="font-size: 30px;">
        Benvenuto! Premi avanti per iniziare.
        </h1>

        <!-- PULSANTE -->
        <div class="text-center">
        <a class="btn btn-info" routerLink="/tipo-struttura" routerLinkActive="active" role="button">Avanti
            &raquo;</a>
        </div>

      </div>
    </div>
  </div>
  
</main>