<div class="container">

  <!-- PROGRESS BAR -->
<div class="progress" style="margin-top: 30px">
  <div class="progress-bar-1" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  <div class="progress-bar-2" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">STEP 2</div>
</div>

  <div class="titolo" style="text-align: center;margin-top: 30px; font-size: 30px;">
      <p><strong>Valutazione multicriterio delle alternative di intervento</strong>
  </div>

  <div *ngIf="pass == true">
  <div>
      <div class="form-check">
          <input type="checkbox" class="form-check-input" id="checkbox1" [(ngModel)]="toggleSuperficie"
              (change)="cambiaTotale()">
          <label class="form-check-label" for="checkbox1"><strong>Spunta la casella se le superfici sono coperte
              da finitura</strong></label>
      </div>

      <hr>

      <div>
          <summary><strong>Legenda scelta interventi</strong></summary>
          <div class='my-legend'>
              <div class='legend-scale'>
                  <ul class='legend-labels'>
                      <li><span style='background:#fad677;'></span>Intervento peggiore</li>
                      <li><span style='background:#5a8982;'></span>Intervento migliore</li>
                  </ul>
              </div>
          </div>
      </div>

  </div>

  <hr>

  <div class="overflow-auto">
      <table class="table table-hover table-bordered table-striped">
          <caption></caption>
          <thead style="background:#ce5e59; color: white;">
              <tr>
                  <th style="text-align: center; vertical-align: middle;" rowspan="2" scope="colgroup" colspan="1">Codice</th>
                  <th style="text-align: center;" rowspan="2" scope="colgroup">Modicità di costo</th>
                  <th style="text-align: center; vertical-align: middle;" rowspan="2" scope="colgroup">Efficacia</th>
                  <th style="text-align: center;"scope="colgroup" *ngIf="toggleSuperficie">Compatibilità visiva</th>
                  <th style="text-align: center;" scope="colgroup" *ngIf="!toggleSuperficie">Compatibilità visiva</th>
                  <th style="text-align: center; vertical-align: middle;" rowspan="2" scope="colgroup">Reversibilità</th>
                  <th style="text-align: center;" rowspan="2" scope="colgroup">Semplicità di cantiere</th>
                  <th style="text-align: center;" rowspan="2" scope="colgroup">Esiguità di ingombro</th>
                  <th style="text-align: center; vertical-align: middle;" rowspan="2" scope="colgroup">Totale</th>
                  <th style="text-align: center;" rowspan="2" scope="colgroup">Intervento selezionato</th>
              </tr>
          </thead>
          <tbody>
              <ng-container *ngFor="let interventi of interventiSecondari; index as i">
                  <tr *ngFor="let variante of interventi.varianti; index as j">
                      <ng-container *ngIf="interventi.passaggio == 0">
                      <td>{{interventi.intervento.codice}} {{interventi.varianti[j]}}</td>
                      <td>{{interventi.modicitaDiCosto[j]}}</td>
                      <td>{{interventi.efficacia[j]}}</td>
                      <td *ngIf="toggleSuperficie">{{interventi.supIntonacate[j]}}</td>
                      <td *ngIf="!toggleSuperficie">{{interventi.supVista[j]}}</td>
                      <td>{{interventi.reversibilita[j]}}</td>
                      <td>{{interventi.semplicitaDiCantiere[j]}}</td>
                      <td>{{interventi.esiguitaDiIngombro[j]}}</td>
                      <td
                          [ngStyle]="{'background-color':interventi.maxVariante === j ? '#5a8982' : interventi.minVariante === j ? '#fad677' : 'white'}">
                          {{interventi.totale[j] | number: '1.2-2'}}</td>
                      <td>
                          <div class="custom-control custom-checkbox">
                              <input type="checkbox"
                                  [disabled]="arraySelezionati.length > 0 || interventi.passaggio == 1"
                                  class="form-check-input"
                                  (click)="premiBottone(interventi)">
                          </div>
                      </td>
                  </ng-container>
                  </tr>
              </ng-container>
          </tbody>
      </table>
  </div>
  </div>

  <div *ngIf="pass2 == true">
      <div class="overflow-auto">
        <table class="table table-hover table-bordered table-striped">
          <caption></caption>
          <thead style="background:#ce5e59; color: white;">
            <tr>
              <th style="text-align: center; vertical-align: middle;" rowspan="2" colspan="1" scope="colgroup">Codice</th>
              <th style="text-align: center;" rowspan="2" scope="colgroup">Intervento selezionato</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let interventi of interventiSecondari; index as i">
              <tr *ngFor="let variante of interventi.varianti; index as j">
                <ng-container *ngIf="interventi.passaggio == 1">
                <td>{{interventi.intervento.codice}} {{interventi.varianti[j]}}</td>
                <td>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" [disabled]="arraySelezionati.length > 0"
                      class="form-check-input" (click)="premiBottone(interventi)">
                  </div>
                </td>
              </ng-container>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>

                          <table class="table table-hover table-bordered" *ngIf="buttonIntervento == true">
                              <caption></caption>
                              <tbody>
                                    <tr>
                                      <th scope="col" colspan="2" style="text-align: center;">
                                        <button class="btn btn-default" (click)="aggiuntaInterventoSecondario()">
                                          Aggiungi un intervento ulteriore &#8635;
                                        </button>
                                        <button class="btn btn-default" (click)="trasferisciClasseDiRischio()" style="margin-left: 10px;">
                                          Termina e calcola costi &raquo;
                                        </button>
                                      </th>
                                    </tr>
                              </tbody>
                          </table>

  </div>
