<div class="container">
    <div class="titolo" style="text-align: center;margin-top: 30px; font-size: 30px;">
      <p><strong>Valutazione della performance energetica</strong></p>
    </div>
  
    <div class="card my-5">

      <div class="card-body">
          <div name="selt" *ngFor="let ind of indicatore; index as j" style="font-size: 17px;">
            <strong>• {{ ind.indicatore }}</strong>
            <select name="sel" [(ngModel)]="selezione" style="margin-top: 10px;" class="form-control">
              <ng-container *ngFor="let classe of classeIndicatore; index as i">
                <option *ngIf="classe.indicatore.id === ind.id" [value]="classe.id">
                  {{ classe.descrizione }} <p>|</p>
                  {{ classe.punteggio }}
                </option>            
              </ng-container>
            </select>
            <label></label>
          </div>
      </div>

      <div class="card-footer" style="text-align: center;">
        <button style="margin-right: 30px;" class="btn btn-defaultn display-4" routerLink="/home" 
          routerLinkActive="active">&laquo; Indietro</button>
        <button type="submit" (click)="outputTotale()" style="margin-top: 5px"
          class="btn btn-outline-default">Ottieni risultato</button>
          <hr>
          <div class="row" style="justify-content: center;" *ngIf="msg1">          
            <p>Il risultato della somma dei punteggi è: <strong>{{totalePunteggio}}</strong></p> 
          </div>
      </div>
      
    </div>
  
  </div>
