<div class="container">
    <div class="titolo" style="text-align: center;margin-top: 30px; font-size: 30px;">
      <p><strong>Valutazione della performance energetica</strong></p>
    </div>
  
    <div class="card my-5">
      <div class="card-body">
        <form>
          <div>
            <div name="indicatore">
              <div style="font-size: 17px;" *ngFor="let ind of indicatore | slice:0:1;">
                <strong>• {{ ind.indicatore }}</strong>
              </div>
            </div>
            <select [(ngModel)]="selezione[0]" style="margin-top: 10px;" class="form-control" name="classe0" id="id0">
              <option [ngValue]="classe.id" *ngFor="let classe of classeIndicatore | slice:0:5; index as i">
                {{ classe.descrizione }} <p>|</p>
                {{ classe.punteggio }}
              </option>
            </select>
          </div>
  
          <label></label>
  
          <div>
            <div name="indicatore">
              <div style="font-size: 17px;" *ngFor="let ind of indicatore | slice:1:2;">
              <strong>• {{ ind.indicatore }}</strong>
              </div>
            </div>
            <select [(ngModel)]="selezione[1]" style="margin-top: 10px;" class="form-control" name="classe1" id="id1">
              <option [ngValue]="classe.id" *ngFor="let classe of classeIndicatore | slice:0:5; index as i">
                {{ classe.descrizione }} <p>|</p>
                {{ classe.punteggio }}
              </option>
            </select>
          </div>
  
          <label></label>
  
          <div>
            <div name="indicatore">
              <div style="font-size: 17px;" *ngFor="let ind of indicatore | slice:2:3;">
            <strong>• {{ ind.indicatore }}</strong>
              </div>
            </div>
            <select [(ngModel)]="selezione[2]" style="margin-top: 10px;" class="form-control" name="classe2" id="id2">
              <option [ngValue]="classe.id" *ngFor="let classe of classeIndicatore | slice:0:5; index as i">
                {{ classe.descrizione }} <p>|</p>
                {{ classe.punteggio }}
              </option>
            </select>
          </div>
  
          <label></label>
  
          <div>
            <div name="indicatore">
              <div style="font-size: 17px;" *ngFor="let ind of indicatore | slice:3:4;">
            <strong>• {{ ind.indicatore }}</strong>
              </div>
            </div>
            <select [(ngModel)]="selezione[3]" style="margin-top: 10px;" class="form-control" name="classe3" id="id3">
              <option [ngValue]="classe.id" *ngFor="let classe of classeIndicatore | slice:5:8; index as i">
                {{ classe.descrizione }} <p>|</p>
                {{ classe.punteggio }}
              </option>
            </select>
          </div>
  
          <label></label>
  
          <div>
            <div name="indicatore">
              <div style="font-size: 17px;" *ngFor="let ind of indicatore | slice:4:5;">
            <strong>• {{ ind.indicatore }}</strong>
              </div>
            </div>
            <select [(ngModel)]="selezione[4]" style="margin-top: 10px;" class="form-control" name="classe4" id="id4">
              <option [ngValue]="classe.id" *ngFor="let classe of classeIndicatore | slice:8:11; index as i">
                {{ classe.descrizione }} <p>|</p>
                {{ classe.punteggio }}
              </option>
            </select>
          </div>
  
          <label></label>
  
          <div>
            <div name="indicatore">
              <div style="font-size: 17px;" *ngFor="let ind of indicatore | slice:5:6;">
            <strong>• {{ ind.indicatore }}</strong>
              </div>
            </div>
            <select [(ngModel)]="selezione[5]" style="margin-top: 10px;" class="form-control" name="classe5" id="id5">
              <option [ngValue]="classe.id" *ngFor="let classe of classeIndicatore | slice:0:5; index as i">
                {{ classe.descrizione }} <p>|</p>
                {{ classe.punteggio }}
              </option>
            </select>
          </div>
  
          <label></label>
  
          <div>
            <div name="indicatore">
              <div style="font-size: 17px;" *ngFor="let ind of indicatore | slice:6:7;">
            <strong>• {{ ind.indicatore }}</strong>
              </div>
            </div>
            <select [(ngModel)]="selezione[6]" style="margin-top: 10px;" class="form-control" name="classe6" id="id6">
              <option [ngValue]="classe.id" *ngFor="let classe of classeIndicatore | slice:0:5; index as i">
                {{ classe.descrizione }} <p>|</p>
                {{ classe.punteggio }}
              </option>
            </select>
          </div>
  
          <label></label>
  
          <div>
            <div name="indicatore">
              <div style="font-size: 17px;" *ngFor="let ind of indicatore | slice:7:8;">
            <strong>• {{ ind.indicatore }}</strong>
              </div>
            </div>
            <select [(ngModel)]="selezione[7]" style="margin-top: 10px;" class="form-control" name="classe7" id="id7">
              <option [ngValue]="classe.id" *ngFor="let classe of classeIndicatore | slice:0:5; index as i">
                {{ classe.descrizione }} <p>|</p>
                {{ classe.punteggio }}
              </option>
            </select>
          </div>
  
          <label></label>
  
          <div>
            <div name="indicatore">
              <div style="font-size: 17px;" *ngFor="let ind of indicatore | slice:8:9;">
            <strong>• {{ ind.indicatore }}</strong>
              </div>
            </div>
            <select [(ngModel)]="selezione[8]" style="margin-top: 10px;" class="form-control" name="classe8" id="id8">
              <option [ngValue]="classe.id" *ngFor="let classe of classeIndicatore | slice:0:5; index as i">
                {{ classe.descrizione }} <p>|</p>
                {{ classe.punteggio }}
              </option>
            </select>
          </div>
  
          <label></label>
  
          <div>
            <div name="indicatore">
              <div style="font-size: 17px;" *ngFor="let ind of indicatore | slice:9:10;">
            <strong>• {{ ind.indicatore }}</strong>
              </div>
            </div>
            <select [(ngModel)]="selezione[9]" style="margin-top: 10px;" class="form-control" name="classe9" id="id9">
              <option [ngValue]="classe.id" *ngFor="let classe of classeIndicatore | slice:0:5; index as i">
                {{ classe.descrizione }} <p>|</p>
                {{ classe.punteggio }}
              </option>
            </select>
          </div>
  
          <label></label>
  
          <div>
            <div name="indicatore">
              <div style="font-size: 17px;" *ngFor="let ind of indicatore | slice:10:11;">
            <strong>• {{ ind.indicatore }}</strong>
              </div>
            </div>
            <select [(ngModel)]="selezione[10]" style="margin-top: 10px;" class="form-control" name="classe10" id="id10">
              <option [ngValue]="classe.id" *ngFor="let classe of classeIndicatore | slice:0:5; index as i">
                {{ classe.descrizione }} <p>|</p>
                {{ classe.punteggio }}
              </option>
            </select>
          </div>
  
          <label></label>
  
          <div>
            <div name="indicatore">
              <div style="font-size: 17px;" *ngFor="let ind of indicatore | slice:11:12;">
            <strong>• {{ ind.indicatore }}</strong>
              </div>
            </div>
            <select [(ngModel)]="selezione[11]" style="margin-top: 10px;" class="form-control" name="classe11" id="id11">
              <option [ngValue]="classe.id" *ngFor="let classe of classeIndicatore | slice:0:5; index as i">
                {{ classe.descrizione }} <p>|</p>
                {{ classe.punteggio }}
              </option>
            </select>
          </div>
  
          <label></label>
  
          <div>
            <div name="indicatore">
              <div style="font-size: 17px;" *ngFor="let ind of indicatore | slice:12:13;">
            <strong>• {{ ind.indicatore }}</strong>
              </div>
            </div>
            <select [(ngModel)]="selezione[12]" style="margin-top: 10px;" class="form-control" name="classe12" id="id12">
              <option [ngValue]="classe.id" *ngFor="let classe of classeIndicatore | slice:0:5; index as i">
                {{ classe.descrizione }} <p>|</p>
                {{ classe.punteggio }}
              </option>
            </select>
          </div>
  
        </form>
      </div>
      <div class="bottoni" style="text-align: center;">
        <div class="pulsante1" style="display: inline-block">
          <button style="margin-right: 30px;" class="btn btn-defaultn display-4" routerLink="/home" 
          routerLinkActive="active">&laquo; Indietro</button>
        </div>
        <div class="pulsante" style="display: inline-block">
          <button class="btn btn-default display-4" routerLink="/tipo-struttura-ce"
          routerLinkActive="active">Avanti &raquo;</button>
        </div>
      </div>
      <label></label>
    </div>
  
  </div>
