<div class="container scelta">

  <div class="titolo" style="text-align: center;margin-top: 30px; font-size: 30px;">
    <p><strong>Seleziona il tipo di edificio</strong></p>
  </div>

  <div class="card my-5">
    <label></label>
    <div class="row">
      <div class="col-lg-4">
        <h3>Edificio singolo</h3>
        <img src="assets\images\parte_strutturale\edificio_singolo.jpg" alt="Generic placeholder image" width="140"
          height="140">
        <p><a class="btn btn-primary" routerLink="/edificio-singolo-st" routerLinkActive="active" role="button">Avanti
            &raquo;</a></p>
      </div>

      <div class="col-lg-4"></div>

      <div class="col-lg-4">
        <h3>Edificio in aggregato</h3>
        <img src="assets\images\parte_strutturale\edificio_in_aggregato.jpg" alt="Generic placeholder image" width="140"
          height="140">
        <p><a class="btn btn-primary" routerLink="/edificio-in-aggregato-st" routerLinkActive="active"
            role="button">Avanti
            &raquo;</a></p>
      </div>
    </div>
  </div>
</div>