.scelta .col-lg-4 {
    text-align: center;
}

  img {
    vertical-align: middle;
    border-style: none;
}

  @media all and (max-width: 500px){

  img {
    vertical-align: middle;
    border-style: none;
}

  }