<div class="container scelta" style="margin-top:60px">

    <h1 style="font-size: 30px;">
      Seleziona il tipo di edificio.
    </h1>
    
    <div class="row">
      <div class="col-lg-4">
        <img class="rounded-circle" src="assets\images\parte_strutturale\edificio_singolo.jpg" alt="Generic placeholder image" width="140"
          height="140">
        <h2>Edificio singolo</h2>
        <p>Descrizione.</p>
        <p><a class="btn btn-info" routerLink="/edificio-singolo-st" routerLinkActive="active" role="button">Avanti
            &raquo;</a></p>
      </div>

      <div class="col-lg-4"></div>

      <div class="col-lg-4">
        <img class="rounded-circle" src="assets\images\parte_strutturale\edificio_in_aggregato.jpg" alt="Generic placeholder image"
          width="140" height="140">
        <h2>Edificio in aggregato</h2>
        <p>Descrizione.</p>
        <p><a class="btn btn-info" routerLink="/edificio-in-aggregato-st" routerLinkActive="active" role="button">Avanti
            &raquo;</a></p>
      </div>
    </div>
  </div>
