<div class="container scelta">

  <div class="titolo" style="text-align: center;margin-top: 30px; font-size: 30px;">
    <p><strong>Seleziona il tipo di edificio</strong></p>
  </div>

    <div class="row">

      <div class="col-sm-6" style="text-align: center;">
        <div class="card">
          <div class="card-body">
        <h3 class="card-title">Edificio singolo</h3>
        <img src="assets\images\parte_strutturale\edificio_singolo.jpg" alt="Generic placeholder image" width="140"
          height="140">
        <p><a class="btn btn-default" routerLink="/edificio-singolo-st" routerLinkActive="active" role="button">Avanti
            &raquo;</a></p>
          </div>
      </div>
      </div>

      <div class="col-sm-6" style="text-align: center;">
        <div class="card">
          <div class="card-body">
        <h3 class="card-title">Edificio in aggregato</h3>
        <img src="assets\images\parte_strutturale\edificio_in_aggregato.jpg" alt="Generic placeholder image" width="140"
          height="140">
        <p><a class="btn btn-default" routerLink="/edificio-in-aggregato-st" routerLinkActive="active"
            role="button">Avanti
            &raquo;</a></p>
          </div>
      </div>
      </div>

    </div>
</div>