<div class="container">
  <div class="titolo" style="text-align: center; margin-top: 30px; font-size: 30px;">
    <p><strong>INDIVIDUAZIONE DEGLI INTERVENTI</strong></p>
  </div>
  <div class="card my-5">
    <div class="card-header" style="text-align: center; font-size: 20px;">
        <p><strong>Tipo di struttura</strong></p>
    </div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <!-- STRUTTURA UNO -->
          <select value="structure" class="form-control" id="structure" (change)="onChange($event.target.value)" name="struttura">
            <option selected disabled>
              Seleziona
            </option>
            <option [value]="i" *ngFor="let array1 of strutt; index as i">
              {{ array1.struttura }}
            </option>
          </select>

          <!-- STRUTTURA DUE -->
          <select [(ngModel)]="selectedIndex" style="margin-top: 30px;" (change)="onChangeSecondo($event.target.value)" value="struttura" class="form-control" id="structure" name="struttura">
            <option [value]="i" *ngFor="let array2 of selectedElement; index as i">
              {{ array2.strutturaDue }}
            </option>
          </select>

          <!-- STRUTTURA TRE -->
          <select [(ngModel)]="selectedIndexDue" style="margin-top: 30px;" value="struttura" class="form-control" id="structure" name="struttura">
            <option [value]="i" *ngFor="let array3 of selectedElementDue; index as i">
              {{ array3.strutturaTre }}
            </option>
          </select>
        </div>
      </form>
    </div>
  </div>

  <!-- CARATTERISTICHE QUALITATIVE -->
  <div class="card my-5">
    <div class="card-header" style="text-align: center; font-size: 20px;">
      <p><strong>Caratteristiche qualitative</strong></p>
    </div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <select [(ngModel)]="selectArr" style="margin-top: 30px;" value="struttura" (change)="onChangeCaratteristicheQualitative($event.target.value)" 
          class="form-control" id="structure" name="struttura">
            <option [value]="i" *ngFor="let array4 of caratteristiche; index as i">
            {{array4.caratteristicheQualitative}}
            </option>
          </select>
        </div>  
      </form> 
    </div>
  </div>

  <!-- INTERVENTI -->
  <div class="card my-5">
    <div class="card-header" style="text-align: center; font-size: 20px;">
      <p><strong>Interventi</strong></p>
    </div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <tr *ngFor="let arr of variabileIntervento; index as i">
            <td>
              Codice: {{arr.intervento.codice}}
              - {{arr.intervento.descrizione}}
            </td>
          </tr>
        </div>  
      </form> 
    </div>
  </div>


  
</div>
