.fa{
    margin: 20px 0px;
}

.card-header{
    height: 50px;
}

img{
    max-width: none;
    width: 797px;
}


@media all and (max-width: 500px){

img{
    max-width: 100%;
    width: 797px;
}
}

.pulsante{
    text-align: center;
}

.appunto{
    font-size: small;
    font-weight: bold;
}