.imgRisk{
    width: 450px;
    height: 290px;
}
.imgVulClass{
    width: 285px;
    height: 300px;
}

@media all and (max-width: 500px){
  .imgRisk{
    width: 195px;
    height: 135px;
}
.imgVulClass{
    width: 155px;
    height: 140px;
}
}

.btn-default, .btn-default:active, .btn-default:visited {
  background-color: #ce5e59 !important;
  color: white;
}

.btn-default:hover {
  background-color: #853a36 !important;
  color: white;
}

.btn-outline-default, .btn-outline-default:active, .btn-outline-default:visited {
  background-color: white !important;
  color: #ce5e59;
  border-color: #ce5e59;
}

.btn-outline-default:hover {
  background-color: #ce5e59 !important;
  color: white;
}

.card-header{
  height: 50px;
}

