.my-legend .legend-scale ul {
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 5px;
    padding: 0;
    list-style: none;
    }
.my-legend .legend-scale ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
    }
.my-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
    }

.container { overflow: hidden; display: block;}

.centro{
        text-align: center;
    }
  
    .pulsante {
      text-align: center;
    }

    @media all and (max-width: 500px){
        .floatLeft { width: 50%; float: none; inline-size: fit-content; text-align: center; }
        .floatRight {width: 50%; float: none; }
        .container { overflow: hidden; display: block;}
        .pulsante{
          text-align: center;
          margin-bottom: 15px;
          margin-top: -5px;
      }
        .table-bordered{
          width: 300px;
        }
      }


.card-header {
  height: 50px;
}

.btn-default, .btn-default:active, .btn-default:visited {
  background-color: #ce5e59 !important;
  color: white;
}

.btn-default:hover {
  background-color: #853a36 !important;
  color: white;
}