<div class="container">

    <div class="titolo" style="text-align: center;margin-top: 30px; font-size: 30px;">
        <p><strong>Riepilogo degli interventi e calcolo dei costi</strong></p>
    </div>
    <hr>

    <div class="overflow-auto">
        <div class="tabella">
            <table class="table table-bordered" style="display: contents;">
                <caption></caption>
                <tr *ngFor="let elemento of interventi; index as j">
                    <thead style="background:#ce5e59; color: white;">
                        <th scope="colgroup">Intervento:</th>
                        <th scope="colgroup">Tipo di superficie:</th>
                        <th scope="colgroup">Prezzo unità/quantità:</th>
                        <th scope="colgroup">Dimensione:</th>
                        <th scope="colgroup">Costo parziale:</th>
                        <th scope="colgroup">Attrezzature aggiuntive:</th>
                    </thead>
                    <tbody>
                        <td style="vertical-align: middle;">{{elemento.intervento.codice}}</td>

                        <td style="vertical-align: middle;">
                            <select [(ngModel)]="tipo_superficie">
                                <option selected disabled [value]="0">Seleziona</option>
                                <option [value]="1">Superfici a vista</option>
                                <option *ngFor="let elemento of interventi;" [attr.disabled]="elemento.prezzoInton === 0 ? 'disabled' : null" [value]="2">Superficie intonacata</option>
                            </select>
                        </td>

                        <td style="vertical-align: middle;" *ngIf="tipo_superficie == 0">Seleziona</td>
                        <td style="vertical-align: middle;" *ngIf="tipo_superficie == 1">{{elemento.prezzoVista}}€/{{elemento.unitaMisura}}</td>
                        <td style="vertical-align: middle;" *ngIf="tipo_superficie == 2">{{elemento.prezzoInton}}€/{{elemento.unitaMisura}}</td>
                        
                        <td style="vertical-align: middle;">
                            <input type="number" [value]="elemento.valoreCifra"
                                (input)="elemento.valoreCifra = $event.target.value" style="margin-left: 20px;">
                                {{elemento.unitaMisura}} 
                        </td>

                        <td style="vertical-align: middle;" *ngIf="tipo_superficie == 0">Seleziona</td>
                        <td style="vertical-align: middle;" *ngIf="tipo_superficie == 1">{{elemento.prezzoVista * elemento.valoreCifra | number: '1.0-2'}}€</td>
                        <td style="vertical-align: middle;" *ngIf="tipo_superficie == 2">{{elemento.prezzoInton * elemento.valoreCifra | number: '1.0-2'}}€</td>
                        
                        <td>Codice {{elemento.intervento.attrezzatura}}:<br>
                            {{elemento.intervento.descrizioneAttrezzatura}}</td>
                    </tbody>
                </tr>
            </table>
        </div>
    </div>

    <hr>
    
</div>
