<div class="container">
    <div class="card my-5">
        <div class="card-header">
            PARTE COMPLETA
        </div>
        <div class="card-body">
            <p><a class="btn btn-default" routerLink="/performance-energetica-ce" routerLinkActive="active"
                role="button">Avanti
                &raquo;</a></p>
        </div>
    </div>

    <div class="card my-5">
        <div class="card-header">
            PARTE BREVE
        </div>
        <div class="card-body">
            <p><a class="btn btn-default" routerLink="/tipo-struttura-breve-ce" routerLinkActive="active"
                role="button">Avanti
                &raquo;</a></p>
        </div>
    </div>
</div>
