<div class="container">
    <div class="titolo" style="text-align: center;margin-top: 30px; font-size: 30px;">
        <p><strong>Comparazione a coppie tra i criteri (Analytic Hierarchy Process)</strong>
    </div>

    <div class="card my-5">
        <div class="card-header" style="text-align: center; font-size: 17px;">
        <div class="row justify-content-md-center">
            <div *ngFor="let row of matrix; index as r">
                <div class="col-md-auto" *ngIf="r === 0">
                    <strong>Modicità di costo</strong><br>
                    {{ponderazione[r]*100 | number: '1.0-0'}}% 
                </div>
                <div class="col-md-auto" *ngIf="r === 1">
                    <strong>Efficacia</strong><br>
                    {{ponderazione[r]*100 | number: '1.0-0'}}% 
                </div>
                <div class="col-md-auto" *ngIf="r === 2">
                    <strong>Compatibilità visiva</strong><br>
                    {{ponderazione[r]*100 | number: '1.0-0'}}% 
                </div>
                <div class="col-md-auto" *ngIf="r === 3">
                    <strong>Reversibilità</strong><br>
                    {{ponderazione[r]*100 | number: '1.0-0'}}% 
                </div>
                <div class="col-md-auto" *ngIf="r === 4">
                    <strong>Semplicità di cantiere</strong><br>
                    {{ponderazione[r]*100 | number: '1.0-0'}}% 
                </div>
                <div class="col-md-auto" *ngIf="r === 5">
                    <strong>Esiguità di ingombro</strong><br>
                    {{ponderazione[r]*100 | number: '1.0-0'}}% 
                </div>
            </div>
        </div>
    </div>

        <div class="card-body">

            <ul class="list-group">

                <li class="list-group-item">
                    <tr *ngFor="let row of matrix; index as r">
                        <td *ngFor="let columns of row; index as c">
                    <tr *ngIf="r === 1">
                        <td *ngIf="c === 0">
                            <strong>Efficacia:</strong><br>
                            <select [(ngModel)]="scelta">
                                <option value="yes">è più importante di</option>
                                <option value="no">è meno importante di</option>
                            </select>
                            modicità di costo. Di quanto?
                            <div *ngIf="scelta === 'yes'" class="d-inline-block">
                                <select [(ngModel)]="oggetto[r][c]" (change)="onSelectChange(r,c)">
                                    <option [ngValue]="a.num" *ngFor="let a of arrayComparazioneFrazioni">
                                        {{a.char}}
                                    </option>
                                </select>
                            </div>
                            <div *ngIf="scelta === 'no'" class="d-inline-block">
                                <select [(ngModel)]="oggetto[r][c]" (change)="onSelectChange(r,c)">
                                    <option [ngValue]="a.num" *ngFor="let a of arrayComparazioneInteri">
                                        {{a.char}}
                                    </option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    </td>
                    </tr>
                </li>
            

                <li class="list-group-item">
                    <tr *ngFor="let row of matrix; index as r">
                        <td *ngFor="let columns of row; index as c">
                    <tr *ngIf="r === 2">
                        <td *ngIf="c === 0">
                            <strong>Compatibilità visiva:</strong> <br>
                            <select [(ngModel)]="scelta2">
                                <option value="yes">è più importante di</option>
                                <option value="no">è meno importante di</option>
                            </select>
                            modicità di costo. Di quanto?
                            <div *ngIf="scelta2 === 'yes'" class="d-inline-block">
                                <select [(ngModel)]="oggetto[r][c]" (change)="onSelectChange(r,c)">
                                    <option [ngValue]="a.num" *ngFor="let a of arrayComparazioneFrazioni">
                                        {{a.char}}
                                    </option>
                                </select>
                            </div>
                            <div *ngIf="scelta2 === 'no'" class="d-inline-block">
                                <select [(ngModel)]="oggetto[r][c]" (change)="onSelectChange(r,c)">
                                    <option [ngValue]="a.num" *ngFor="let a of arrayComparazioneInteri">
                                        {{a.char}}
                                    </option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    </td>
                    </tr>

                    <br>

                    <tr *ngFor="let row of matrix; index as r">
                        <td *ngFor="let columns of row; index as c">
                    <tr *ngIf="r === 2">
                        <td *ngIf="c === 1">
                            <select [(ngModel)]="scelta3">
                                <option value="yes">è più importante di</option>
                                <option value="no">è meno importante di</option>
                            </select>
                            efficacia. Di quanto?
                            <div *ngIf="scelta3 === 'yes'" class="d-inline-block">
                                <select [(ngModel)]="oggetto[r][c]" (change)="onSelectChange(r,c)">
                                    <option [ngValue]="a.num" *ngFor="let a of arrayComparazioneFrazioni">
                                        {{a.char}}
                                    </option>
                                </select>
                            </div>
                            <div *ngIf="scelta3 === 'no'" class="d-inline-block">
                                <select [(ngModel)]="oggetto[r][c]" (change)="onSelectChange(r,c)">
                                    <option [ngValue]="a.num" *ngFor="let a of arrayComparazioneInteri">
                                        {{a.char}}
                                    </option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    </td>
                    </tr>
                </li>

                <li class="list-group-item">
                    <tr *ngFor="let row of matrix; index as r">
                        <td *ngFor="let columns of row; index as c">
                    <tr *ngIf="r === 3">
                        <td *ngIf="c === 0">
                            <strong>Reversibilità:</strong> <br>
                            <select [(ngModel)]="scelta4">
                                <option value="yes">è più importante di</option>
                                <option value="no">è meno importante di</option>
                            </select>
                            modicità di costo. Di quanto?
                            <div *ngIf="scelta4 === 'yes'" class="d-inline-block">
                                <select [(ngModel)]="oggetto[r][c]" (change)="onSelectChange(r,c)">
                                    <option [ngValue]="a.num" *ngFor="let a of arrayComparazioneFrazioni">
                                        {{a.char}}
                                    </option>
                                </select>
                            </div>
                            <div *ngIf="scelta4 === 'no'" class="d-inline-block">
                                <select [(ngModel)]="oggetto[r][c]" (change)="onSelectChange(r,c)">
                                    <option [ngValue]="a.num" *ngFor="let a of arrayComparazioneInteri">
                                        {{a.char}}
                                    </option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    </td>
                    </tr>
                
                    <br>

                    <tr *ngFor="let row of matrix; index as r">
                        <td *ngFor="let columns of row; index as c">
                    <tr *ngIf="r === 3">
                        <td *ngIf="c === 1">
                            <select [(ngModel)]="scelta5">
                                <option value="yes">è più importante di</option>
                                <option value="no">è meno importante di</option>
                            </select>
                            efficacia. Di quanto?
                            <div *ngIf="scelta5 === 'yes'" class="d-inline-block">
                                <select [(ngModel)]="oggetto[r][c]" (change)="onSelectChange(r,c)">
                                    <option [ngValue]="a.num" *ngFor="let a of arrayComparazioneFrazioni">
                                        {{a.char}}
                                    </option>
                                </select>
                            </div>
                            <div *ngIf="scelta5 === 'no'" class="d-inline-block">
                                <select [(ngModel)]="oggetto[r][c]" (change)="onSelectChange(r,c)">
                                    <option [ngValue]="a.num" *ngFor="let a of arrayComparazioneInteri">
                                        {{a.char}}
                                    </option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    </td>
                    </tr>
                
                    <br> 

                    <tr *ngFor="let row of matrix; index as r">
                        <td *ngFor="let columns of row; index as c">
                    <tr *ngIf="r === 3">
                        <td *ngIf="c === 2">
                            <select [(ngModel)]="scelta6">
                                <option value="yes">è più importante di</option>
                                <option value="no">è meno importante di</option>
                            </select>
                            compatibilità visiva. Di quanto?
                            <div *ngIf="scelta6 === 'yes'" class="d-inline-block">
                                <select [(ngModel)]="oggetto[r][c]" (change)="onSelectChange(r,c)">
                                    <option [ngValue]="a.num" *ngFor="let a of arrayComparazioneFrazioni">
                                        {{a.char}}
                                    </option>
                                </select>
                            </div>
                            <div *ngIf="scelta6 === 'no'" class="d-inline-block">
                                <select [(ngModel)]="oggetto[r][c]" (change)="onSelectChange(r,c)">
                                    <option [ngValue]="a.num" *ngFor="let a of arrayComparazioneInteri">
                                        {{a.char}}
                                    </option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    </td>
                    </tr>
                </li>

                <li class="list-group-item">
                    <tr *ngFor="let row of matrix; index as r">
                        <td *ngFor="let columns of row; index as c">
                    <tr *ngIf="r === 4">
                        <td *ngIf="c === 0">
                            <strong>Semplicità di cantiere:</strong> <br>
                            <select [(ngModel)]="scelta7">
                                <option value="yes">è più importante di</option>
                                <option value="no">è meno importante di</option>
                            </select>
                            modicità di costo. Di quanto?
                            <div *ngIf="scelta7 === 'yes'" class="d-inline-block">
                                <select [(ngModel)]="oggetto[r][c]" (change)="onSelectChange(r,c)">
                                    <option [ngValue]="a.num" *ngFor="let a of arrayComparazioneFrazioni">
                                        {{a.char}}
                                    </option>
                                </select>
                            </div>
                            <div *ngIf="scelta7 === 'no'" class="d-inline-block">
                                <select [(ngModel)]="oggetto[r][c]" (change)="onSelectChange(r,c)">
                                    <option [ngValue]="a.num" *ngFor="let a of arrayComparazioneInteri">
                                        {{a.char}}
                                    </option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    </td>
                    </tr>
                
                    <br>

                    <tr *ngFor="let row of matrix; index as r">
                        <td *ngFor="let columns of row; index as c">
                    <tr *ngIf="r === 4">
                        <td *ngIf="c === 1">
                            <select [(ngModel)]="scelta8">
                                <option value="yes">è più importante di</option>
                                <option value="no">è meno importante di</option>
                            </select>
                            efficacia. Di quanto?
                            <div *ngIf="scelta8 === 'yes'" class="d-inline-block">
                                <select [(ngModel)]="oggetto[r][c]" (change)="onSelectChange(r,c)">
                                    <option [ngValue]="a.num" *ngFor="let a of arrayComparazioneFrazioni">
                                        {{a.char}}
                                    </option>
                                </select>
                            </div>
                            <div *ngIf="scelta8 === 'no'" class="d-inline-block">
                                <select [(ngModel)]="oggetto[r][c]" (change)="onSelectChange(r,c)">
                                    <option [ngValue]="a.num" *ngFor="let a of arrayComparazioneInteri">
                                        {{a.char}}
                                    </option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    </td>
                    </tr>
                
                    <br>

                    <tr *ngFor="let row of matrix; index as r">
                        <td *ngFor="let columns of row; index as c">
                    <tr *ngIf="r === 4">
                        <td *ngIf="c === 2">
                            <select [(ngModel)]="scelta9">
                                <option value="yes">è più importante di</option>
                                <option value="no">è meno importante di</option>
                            </select>
                            compatibilità visiva. Di quanto?
                            <div *ngIf="scelta9 === 'yes'" class="d-inline-block">
                                <select [(ngModel)]="oggetto[r][c]" (change)="onSelectChange(r,c)">
                                    <option [ngValue]="a.num" *ngFor="let a of arrayComparazioneFrazioni">
                                        {{a.char}}
                                    </option>
                                </select>
                            </div>
                            <div *ngIf="scelta9 === 'no'" class="d-inline-block">
                                <select [(ngModel)]="oggetto[r][c]" (change)="onSelectChange(r,c)">
                                    <option [ngValue]="a.num" *ngFor="let a of arrayComparazioneInteri">
                                        {{a.char}}
                                    </option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    </td>
                    </tr>
                    
                    <br>

                    <tr *ngFor="let row of matrix; index as r">
                        <td *ngFor="let columns of row; index as c">
                    <tr *ngIf="r === 4">
                        <td *ngIf="c === 3">
                            <select [(ngModel)]="scelta10">
                                <option value="yes">è più importante di</option>
                                <option value="no">è meno importante di</option>
                            </select>
                            reversibilità. Di quanto?
                            <div *ngIf="scelta10 === 'yes'" class="d-inline-block">
                                <select [(ngModel)]="oggetto[r][c]" (change)="onSelectChange(r,c)">
                                    <option [ngValue]="a.num" *ngFor="let a of arrayComparazioneFrazioni">
                                        {{a.char}}
                                    </option>
                                </select>
                            </div>
                            <div *ngIf="scelta10 === 'no'" class="d-inline-block">
                                <select [(ngModel)]="oggetto[r][c]" (change)="onSelectChange(r,c)">
                                    <option [ngValue]="a.num" *ngFor="let a of arrayComparazioneInteri">
                                        {{a.char}}
                                    </option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    </td>
                    </tr>
                </li>

                <li class="list-group-item">
                    <tr *ngFor="let row of matrix; index as r">
                        <td *ngFor="let columns of row; index as c">
                    <tr *ngIf="r === 5">
                        <td *ngIf="c === 0">
                            <strong>Esiguità di ingombro:</strong> <br>
                            <select [(ngModel)]="scelta11">
                                <option value="yes">è più importante di</option>
                                <option value="no">è meno importante di</option>
                            </select>
                            modicità di costo. Di quanto?
                            <div *ngIf="scelta11 === 'yes'" class="d-inline-block">
                                <select [(ngModel)]="oggetto[r][c]" (change)="onSelectChange(r,c)">
                                    <option [ngValue]="a.num" *ngFor="let a of arrayComparazioneFrazioni">
                                        {{a.char}}
                                    </option>
                                </select>
                            </div>
                            <div *ngIf="scelta11 === 'no'" class="d-inline-block">
                                <select [(ngModel)]="oggetto[r][c]" (change)="onSelectChange(r,c)">
                                    <option [ngValue]="a.num" *ngFor="let a of arrayComparazioneInteri">
                                        {{a.char}}
                                    </option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    </td>
                    </tr>
                
                    <br>

                    <tr *ngFor="let row of matrix; index as r">
                        <td *ngFor="let columns of row; index as c">
                    <tr *ngIf="r === 5">
                        <td *ngIf="c === 1">
                            <select [(ngModel)]="scelta12">
                                <option value="yes">è più importante di</option>
                                <option value="no">è meno importante di</option>
                            </select>
                            efficacia. Di quanto?
                            <div *ngIf="scelta12 === 'yes'" class="d-inline-block">
                                <select [(ngModel)]="oggetto[r][c]" (change)="onSelectChange(r,c)">
                                    <option [ngValue]="a.num" *ngFor="let a of arrayComparazioneFrazioni">
                                        {{a.char}}
                                    </option>
                                </select>
                            </div>
                            <div *ngIf="scelta12 === 'no'" class="d-inline-block">
                                <select [(ngModel)]="oggetto[r][c]" (change)="onSelectChange(r,c)">
                                    <option [ngValue]="a.num" *ngFor="let a of arrayComparazioneInteri">
                                        {{a.char}}
                                    </option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    </td>
                    </tr>
                
                    <br>

                    <tr *ngFor="let row of matrix; index as r">
                        <td *ngFor="let columns of row; index as c">
                    <tr *ngIf="r === 5">
                        <td *ngIf="c === 2">
                            <select [(ngModel)]="scelta13">
                                <option value="yes">è più importante di</option>
                                <option value="no">è meno importante di</option>
                            </select>
                            compatibilità visiva. Di quanto?
                            <div *ngIf="scelta13 === 'yes'" class="d-inline-block">
                                <select [(ngModel)]="oggetto[r][c]" (change)="onSelectChange(r,c)">
                                    <option [ngValue]="a.num" *ngFor="let a of arrayComparazioneFrazioni">
                                        {{a.char}}
                                    </option>
                                </select>
                            </div>
                            <div *ngIf="scelta13 === 'no'" class="d-inline-block">
                                <select [(ngModel)]="oggetto[r][c]" (change)="onSelectChange(r,c)">
                                    <option [ngValue]="a.num" *ngFor="let a of arrayComparazioneInteri">
                                        {{a.char}}
                                    </option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    </td>
                    </tr>
               
                    <br>

                    <tr *ngFor="let row of matrix; index as r">
                        <td *ngFor="let columns of row; index as c">
                    <tr *ngIf="r === 5">
                        <td *ngIf="c === 3">
                            <select [(ngModel)]="scelta14">
                                <option value="yes">è più importante di</option>
                                <option value="no">è meno importante di</option>
                            </select>
                            reversibilità. Di quanto?
                            <div *ngIf="scelta14 === 'yes'" class="d-inline-block">
                                <select [(ngModel)]="oggetto[r][c]" (change)="onSelectChange(r,c)">
                                    <option [ngValue]="a.num" *ngFor="let a of arrayComparazioneFrazioni">
                                        {{a.char}}
                                    </option>
                                </select>
                            </div>
                            <div *ngIf="scelta14 === 'no'" class="d-inline-block">
                                <select [(ngModel)]="oggetto[r][c]" (change)="onSelectChange(r,c)">
                                    <option [ngValue]="a.num" *ngFor="let a of arrayComparazioneInteri">
                                        {{a.char}}
                                    </option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    </td>
                    </tr>
                
                    <br>

                    <tr *ngFor="let row of matrix; index as r">
                        <td *ngFor="let columns of row; index as c">
                    <tr *ngIf="r === 5">
                        <td *ngIf="c === 4">
                            <select [(ngModel)]="scelta15">
                                <option value="yes">è più importante di</option>
                                <option value="no">è meno importante di</option>
                            </select>
                            semplicità di cantiere. Di quanto?
                            <div *ngIf="scelta15 === 'yes'" class="d-inline-block">
                                <select [(ngModel)]="oggetto[r][c]" (change)="onSelectChange(r,c)">
                                    <option [ngValue]="a.num" *ngFor="let a of arrayComparazioneFrazioni">
                                        {{a.char}}
                                    </option>
                                </select>
                            </div>
                            <div *ngIf="scelta15 === 'no'" class="d-inline-block">
                                <select [(ngModel)]="oggetto[r][c]" (change)="onSelectChange(r,c)">
                                    <option [ngValue]="a.num" *ngFor="let a of arrayComparazioneInteri">
                                        {{a.char}}
                                    </option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    </td>
                    </tr>
                </li>
            </ul>

        </div>
    </div>





    <tr *ngFor="let row of matrix; index as r">
        <td *ngFor="let column of row; index as c">

            <select [(ngModel)]="oggetto[r][c]" (change)="onSelectChange(r,c)" *ngIf="r > c">
                <option [ngValue]="a.num" *ngFor="let a of arrayComparazione">
                    {{a.char}}
                </option>

            </select>
            <div *ngIf=" c >= r">
                {{oggetto[r][c]}}
            </div>
        </td>
    </tr>




    <div [ngClass]="{'crGood': cr < 0.1, 'crBad': cr >= 0.1}"
        style="margin-bottom: 30px; margin-top: 40px; text-align: center;">
        <div style="color: white">
            <strong>Finché il colore non diventa verde (CR < 0.10), non sarà possibile utilizzare i pesi.</strong>
        </div>
        <strong> VALORE CR: {{cr | number: '1.2-2'}}</strong>
    </div>
    <div class="pulsante">
        <button *ngIf="cr < 0.1" class="btn btn-info" style="align-content: center;"
            (click)="trasferisciPonderazione()">
            Premi per ottenere i pesi
        </button>
        <!---->
    </div>


    <label></label>

    <div class="container tabelle">

        <!-- Colonne per tabelle -->
        <div class="overflow-auto">
            <div class="row">
                <div class="col-lg-4">
                    <details>
                        <summary><b>Matrice Normalizzata</b></summary>
                        <div class="Second_table" style="float: left; margin-right: 30px;">
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                    <th>
                                        MATRICE NORMALIZZATA
                                    </th>
                                    <th>
                                    </th>
                                    <th>
                                    </th>
                                    <th>
                                    </th>
                                    <th>
                                    </th>
                                    <th>
                                    </th>
                                    <th>
                                        PONDERAZIONE (VETTORE P)
                                    </th>
                                </thead>
                                <tr *ngFor="let row of matrix; index as r">
                                    <td *ngFor="let column of row; index as c">
                                        <div>
                                            {{matriceNormalizzata[r][c] | number: '1.2-2' }}
                                        </div>
                                    </td>
                                    <td>
                                        {{ponderazione[r] | number: '1.2-2'}}
                                        <!--{{ponderazione[r] * 100 | number: '1.0-0'}}%-->
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </details>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <!-- Colonna vuota -->
                </div><!-- /.col-lg-4 -->

                <div class="col-lg-4">
                    <table class="table table-bordered" style="text-align: center; width: 30px; margin-top: 25px;">
                        <thead class="thead-dark">
                            <th>
                                TABELLA PERCENTUALI
                            </th>
                        </thead>
                        <tr *ngFor="let row of matrix; index as r">
                            <td>
                                {{ponderazione[r]*100 | number: '1.0-0'}}%
                                <!--{{ponderazione[r] * 100 | number: '1.0-0'}}%-->
                            </td>
                        </tr>
                    </table>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
        </div>
    </div><!-- /.container -->
</div>